<div class="table-clinic">
    <div class="block-table">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Адрес клиники</th>
                <th scope="col">Услуги клиники</th>
                <th scope="col">Врачи</th>

            </tr>
            </thead>
            <tbody   th:each="t:${clinics}">
            <tr>

                <td th:text="${t.getAddress()}"></td>
                <td>  <a th:href="'/admin/clinics/'+${t.getId()}+'/services'" >Услуги</a></td>
                <td><a th:href="'/admin/clinics/'+${t.getId()}+'/dentists'">Врачи</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>