.bg-img {
    /* The image used */
    padding-top: 10px;

    background-image: url(http://localhost:8080/photo/doctor.jpg) ;

    margin-top: 60px;
    min-height: 404px;
    margin-right: 30px;
    margin-left: 30px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}