.patient-account {
    margin-top: 60px;
    border: 4px solid #3fbbc0;
    margin-left: 30px;
    margin-right: 30px;
}

.avatar {
    margin-top: 10px;
    margin-left: 180px;
}

.profile-text {
    font-size: 22px;

}

.link-edit {

}
