<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/horizontal-menu :: div.horizontal-menu"></div>
PATIENTTT
<table width="100%" class="table-cl">
    <tr>
        <td width="35%">


        </td>
        <td width="65%">

            <div class="bg-img">
                <form action="#" th:action="@{'/user/'+${clinicId}+'/clinic'}" method="post">
                    <div class="container">
                        <div class="title-order"><h2>Записаться к врачу</h2><br>
                            <h3>Шаг 2</h3></div>
                        <p><select class="choice" onchange='this.form.submit()' name="maintenanceId">


                            <option disabled selected="selected">Выберите service</option>
                            <option th:each="t:${maintenances}" th:value="${t.getId()}"
                                    th:text="${t.getName()}"></option>

                        </select></p>
                        <a class="previous"
                           th:href="@{'/user'}">Назад</a>


                    </div>


                </form>

            </div>


        </td>
    </tr>
</table>

</body>
</html>