<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
<body>
<div th:replace="fragments/horizontal-menu :: div.horizontal-menu"></div>
<div th:replace="fragments/dentist-table :: div.table-admin"></div>
<a th:href="'/admin/dentists/add'" style="margin-left: 1002px" class="btn btn-warning">Добавить аккаунт нового врача</a>

</body>
</html>