<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/horizontal-menu :: div.horizontal-menu"></div>-->
<!--<div sec:authorize="hasAuthority('UNREGISTERED')">-->
<!-- Ваш запрос на регистрацию расматривается-->
<!--</div>-->
<!-- >hbhg
<span sec:authorize="isAuthenticated()">| Logged user:  |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>
<div sec:authorize="hasAuthority('PATIENT')" > Has Authority patient</div>
<div class="row" th:if="${#request.isUserInRole('ADMIN')}">
    <h2>This will only be displayed if authenticated user has role ROLE_SUPERUSER.</h2>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<form th:action="@{/login}" method="post">
    <input type="submit" value="Sign in"/>
</form>
<div sec:authorize="isAuthenticated()">
    Text visible only to authenticated users.
</div>
<-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Happy smile</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="http://localhost:8080/img/favicon.png" rel="icon">
    <link href="http://localhost:8080/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="http://localhost:8080/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="http://localhost:8080/vendor/aos/aos.css" rel="stylesheet">
    <link href="http://localhost:8080/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost:8080/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="http://localhost:8080/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="http://localhost:8080/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="http://localhost:8080/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="http://localhost:8080/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="http://localhost:8080/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Medicio - v4.1.0
    * Template URL: https://bootstrapmade.com/medicio-free-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
        <div class="align-items-center d-none d-md-flex">
            <i class="bi bi-clock"></i> Понедельник - Пятница, 9:00 - 18:00 (Обед 13:00 - 14:00)
        </div>
        <!--        <div class="d-flex align-items-center">-->
        <!--            <i class="bi bi-phone"></i> Call us now +1 5589 55488 55-->
        <!--        </div>-->
    </div>
</div>
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <a href="/" class="logo me-auto"><img style="max-height: 70px;" src="http://localhost:8080/img/gallery/z.jpg"
                                              alt=""></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto " href='/'>Главная</a></li>

                <li><a class="nav-link scrollto " th:href="'/services'">Услуги</a></li>
                <li><a class="nav-link scrollto" href="/about">Про нас</a></li>
                <li><a class="nav-link scrollto" href="/contacts">Контакты</a></li>
                <!--                            <li  sec:authorize="hasAuthority('PATIENT')"  ><a   class="appointment-btn scrollto" th:href="'/user'">Профиль</a></li>-->
                <!--                            <li sec:authorize="hasAuthority('ADMIN')"  ><a class="appointment-btn scrollto" th:href="'/admin'">Администрирование</a></li>-->
                <li sec:authorize="hasAuthority('PATIENT')">
                    <form th:action="@{/user}" method="get">
                        <input type="submit" class="appointment-btn scrollto" value="Профиль"/>
                    </form>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')">
                    <form th:action="@{/admin}" method="get">
                        <input type="submit" class="appointment-btn scrollto" value="Администрирование"/>
                    </form>
                </li>
                <li sec:authorize="hasAuthority('PATIENT') || hasAuthority('ADMIN')">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" class="appointment-btn scrollto" value="Выйти"/>
                    </form>
                </li>

                <li sec:authorize="!isAuthenticated() || hasAuthority('UNREGISTERED')">
                    <form th:action="@{/login}" method="get">
                        <input type="submit" class="appointment-btn scrollto" value="Войти"/>
                    </form>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <!--        <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make an</span> Appointment</a>-->

    </div>
</header><!-- End Header -->


<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active"
                 style="background-image: url(http://localhost:8080/img/gallery/front1.jpg)">
                <div class="container">
                    <h2>Добро пожаловать в <span>"Happy smile"</span></h2>
                    <p>Сеть стоматологических клиник по всей Беларуси</p>
                    <a href="#about" class="btn-get-started scrollto">Читать больше</a>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(http://localhost:8080/img/slide/slide-2.jpg)">
                <div class="container">
                    <h2>Добро пожаловать в <span>"Happy smile"</span></h2>
                    <p>Сеть стоматологических клиник по всей Беларуси</p>
                    <a href="#about" class="btn-get-started scrollto">Читать больше</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(http://localhost:8080/img/gallery/font3.jpg)">
                <div class="container">
                    <h2>Добро пожаловать в <span>"Happy smile"</span></h2>
                    <p>Сеть стоматологических клиник по всей Беларуси</p>
                    <a href="#about" class="btn-get-started scrollto">Читать больше</a>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-heartbeat"></i></div>
                        <h4 class="title"><a href="">Опытные врачи</a></h4>
                        <p class="description">Милые и опытные врачи, персональный подход к каждому клиенту</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-pills"></i></div>
                        <h4 class="title"><a href="">Решение проблемы</a></h4>
                        <p class="description">Решаем сложные задачи быстро и максимально безболезненно</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-thermometer"></i></div>
                        <h4 class="title"><a href="">Новейшее оборудование</a></h4>
                        <p class="description">Новейшее оборудование для здоровья ваших зубов</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="fas fa-dna"></i></div>
                        <h4 class="title"><a href="">Уютные кабинеты</a></h4>
                        <p class="description">Высокотехнологичный и уютный кабинет для вашего комфорта</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>Запишитесь на первый прием</h3>
                <p></p>
                <a class="cta-btn scrollto" th:href="@{'/user'}">Записаться на прием</a>
            </div>

        </div>
    </section><!-- End Cta Section -->


    <!-- ======= Gallery Section ======= -->

    <!-- ======= Pricing Section ======= -->

    <!-- ======= Frequently Asked Questioins Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Вопросы</h2>
                <p>В данном разделе приведены ответы на часто задаваемые вопросы:</p>
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
                        Можно ли лечить зубы без боли с анестезией?<i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>У многих людей стоматология тесно ассоциируется с болью, так как долгое время все
                            стоматологические процедуры действительно были связаны с неприятными, а иногда и сильными
                            болевыми ощущениями. Кое-где это сохранилось и сейчас, однако во всех современных клиниках
                            боль давно перестала быть обязательным атрибутом стоматологического лечения.
                            <br>
                            Самое главное, что помогает справиться с болью – это хорошая местная анестезия. Современные
                            анестетики качественно «замораживают» все ткани в рабочей области так, что пациент
                            совершенно не чувствует действий стоматолога. А различные местные анестетики в виде гелей
                            позволяют сделать безболезненным даже сам укол обезболивающего вещества.
                            <br>
                            Если же анестетик на человека не действует, или ему просто некомфортно сидеть в
                            стоматологическом кресле, то ему доступно лечение под седацией, или даже под общим наркозом.
                            В этом случае не будет никакой тревоги, а болевые ощущения тем более не пробьются через
                            наркоз.


                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Можно ли в стоматологии
                        заразиться гепатитом?<i
                                class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Теоретически, разумеется, через стоматологические инструменты от пациента, больного
                            гепатитом, вирус может передаться к здоровому. Однако на практике это абсолютно невозможно.
                            В любой клинике максимально используются одноразовые инструменты, а все многоразовые врач
                            тщательно стерилизует после каждого пациента. Стерилизация проходит в несколько этапов – при
                            помощи раствором, а затем горячим паром. Все это полностью уничтожает любые вирусы и
                            бактерии. Так что опасаться заражения в стоматологической клинике не стоит.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Сколько зубов можно удалить
                        одновременно?<i
                                class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Однозначного ответа на этот вопрос дать, к сожалению, нельзя – все зависит от ситуации:
                            <br>
                            Чаще всего, разумеется, за один раз удаляется только один зуб. В некоторых стоматологиях
                            больше одного зуба вам не удалят никогда;
                            <br>

                            Если зубы, которые нужно удалить, находятся достаточно близко друг к другу, то их можно
                            удалить одновременно. Обычно речь идет об удалении не более чем двух зубов;
                            Если зубы подвижные, шатаются и чуть ли не выпадают сами, то возможно удаление и большего
                            количества зубов;
                            Если удаление сложное, длительное, требуется удалить зуб с большим количеством корней – то
                            опять же, удалят вам только один зуб, даже если рядом есть другие кандидаты на удаление.
                            <br>

                            Удалять сразу много зубов нельзя в основном потому, что удаление зуба – это стресс для
                            организма. После удаления остается ранка, которая долго заживает, возникают болевые
                            ощущения, возможно ухудшение общего самочувствия. Именно поэтому лучше посетить врача
                            несколько раз. Кроме того, для удаления далеко стоящих друг от друга зубов придется два раза
                            применять анестезию, что тоже не слишком хорошо сказывается на состоянии организма.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Можно ли отбелить зубной
                        протез или коронку?<i
                                class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Сегодня не существует технологии, позволяющей отбелить коронку или протез из любого
                            материала. Это обусловлено самой структурой искусственных конструкций, которая отличается от
                            структуры живой эмали. Поэтому перед тем, как подбирать цвет коронок, следует отбелить свои
                            зубы, и затем уже изготавливать коронки под цвет отбеленных зубов.
                            <br>
                            Однако если коронка пожелтела или потемнела, сделать ее светлее можно – правда, речь здесь
                            идет не об отбеливании, а о чистке. В клинике стоматолог при помощи специальных инструментов
                            тщательно полирует коронку или протез, удаляя с нее налет и краску от таких продуктов, как
                            чай, кофе и т.п. После полировки коронка приобретает свой первоначальный цвет.

                            <br>
                            А вот самостоятельно пытаться очистить коронку не стоит. Различные домашние методы
                            отбеливания зубов не только не помогут, но и повредят искусственную конструкцию. Может дойти
                            до того, что протез или коронку вообще придется полностью заменить.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Сколько можно ходить с
                        временной пломбой? <i
                                class="bi bi-chevron-down icon-show"></i><i
                                class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            На самом деле, ходить с временной пломбой можно не дольше срока, который определил
                            стоматолог. Если не послушаться рекомендаций врача, то можно усугубить состояние своих зубов
                            – и в дальнейшем потребуется более дорогое и затратное по времени лечение.
                            <br>
                            В целом временная пломба сделана из не слишком прочного материала, который достаточно легко
                            начинает крошиться. В зависимости от размера дефекта, закрытого временной пломбой, она может
                            продержаться от пары недель до полугода, но даже за такой срок она значительно раскрошиться,
                            открывая полость зуба.
                            <br>
                            Сроки, указанные выше, совершенно не применимы к временной пломбе, закрывающей мышьяковую
                            пасту, применяемую для депульпирования зуба. Такая пломба должна быть обязательно удалена не
                            позже срока, указанного врачом. В зависимости от типа пасты этот срок может составлять от
                            одного дня до двух недель. При более длительном ношении паста начинает отравлять весь
                            организм, так что ее обязательно нужно удалить вовремя – вместе с временной пломбой.


                        </p>
                    </div>
                </li>


            </ul>

        </div>
    </section><!-- End Frequently Asked Questioins Section -->

    <!-- ======= Contact Section ======= -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Happy smile</h3>
                        <p> Главный офис :
                            Дубко 20 <br>
                            г. Гродно<br><br>
                            <strong>Телефон:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Полезные ссылки</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Главная</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Про нас</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Услуги</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Контакты</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <!--                    <h4>Our Services</h4>-->
                    <!--                    <ul>-->
                    <!--                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>-->
                    <!--                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>-->
                    <!--                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>-->
                    <!--                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>-->
                    <!--                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>-->
                    <!--                    </ul>-->
                </div>


            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Shisha</span></strong>. All Rights Reserved
        </div>

    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="http://localhost:8080/vendor/aos/aos.js"></script>
<script src="http://localhost:8080/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="http://localhost:8080/vendor/glightbox/js/glightbox.min.js"></script>
<script src="http://localhost:8080/vendor/php-email-form/validate.js"></script>
<script src="http://localhost:8080/vendor/purecounter/purecounter.js"></script>
<script src="http://localhost:8080/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="http://localhost:8080/js/main.js"></script>

</body>

</html>