<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/horizontal-menu :: div.horizontal-menu"></div>

<div class="table-client">


    <div class="name-table">Пациенты</div>
    <div class="block-table">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">История записей</th>

            </tr>
            </thead>
            <tbody   th:each="t:${patients}">
            <tr>

                <td th:text="${t.getFirstName()}"></td>
                <td th:text="${t.getLastName()} "></td>
                <td th:text="${t.getUsername()}"></td>
                <td >  <a th:href="'/admin/'+${t.getId()}" >Посмотреть</a></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
</html>