<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  th:replace="fragments/horizontal-menu :: div.horizontal-menu"></div>

<div class="name-table">Услуги клиники</div>

<div class="block-table" th:each="t:${services}" >

    <div class="name-li" th:text="${t.getName()}"></div><br>
    <h4 th:text="${t.getDescription()}"></h4>
    <h4 th:text="'Цена : '+${t.getPrice()}+' BYN'"></h4>

</div>
<a class="previous"
   th:href="@{'/types'}">Назад</a>

</body>
</html>